# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# Streamlit credentials & config
.streamlit/credentials.toml
.streamlit/config.toml

# Jupyter notebooks
.ipynb_checkpoints/

# Log files
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python packaging
*.egg-info/
build/
dist/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/
.cache/

# Others
*.spec
*.sqlite3
*.db

# Ignore output folders
backend/chapters_output/
